tilde/zsh/local_aliases
tilde/bundle/cache/
tilde/config/mc/*
tilde/config/inkscape/*
tilde/config/configstore/*
tilde/config/hub
tilde/config/htop
tilde/config/gtk-2.0/
tilde/config/git
tilde/config/keybase
tilde/config/nvim/plugged
tilde/config/nvim/spell
tilde/config/nvim/shada
tilde/config/nvim/autoload/plug.vim
tilde/config/nyaovim
tilde/config/Cryptocat
.*
