.*
ansible/playbook.retry
tilde/bundle/cache/
tilde/bundle/ruby/
tilde/config/Cryptocat
tilde/config/Microsoft
tilde/config/autostart
tilde/config/chromium
tilde/config/configstore/*
tilde/config/gh
tilde/config/git
tilde/config/gtk-2.0/
tilde/config/hcloud
tilde/config/heroku
tilde/config/htop
tilde/config/hub
tilde/config/inkscape/*
tilde/config/iterm2
tilde/config/karabiner
tilde/config/keybase
tilde/config/mc/*
tilde/config/nextjs-nodejs/
tilde/config/nvim/autoload/plug.vim
tilde/config/nvim/plugged
tilde/config/nvim/shada
tilde/config/nvim/spell
tilde/config/nyaovim
tilde/config/pulse
tilde/config/shopify/
tilde/config/yarn
tilde/config/youtube-dl/
tilde/secrets
tilde/zsh/local_aliases
