tilde/bundle/cache/
tilde/bundle/ruby/
tilde/config/Cryptocat
tilde/config/configstore/*
tilde/config/git
tilde/config/gtk-2.0/
tilde/config/heroku
tilde/config/htop
tilde/config/hub
tilde/config/inkscape/*
tilde/config/karabiner
tilde/config/keybase
tilde/config/mc/*
tilde/config/nvim/autoload/plug.vim
tilde/config/nvim/plugged
tilde/config/nvim/shada
tilde/config/nvim/spell
tilde/config/nyaovim
tilde/config/yarn
tilde/secrets
tilde/zsh/local_aliases
ansible/playbook.retry
.*
